body {
  padding-top: 56px;
}

.carousel-item {
  height: 92vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-dark{
  background-color: #15141a !important;
}

a
{
  color: #2f3540;
}

a:hover
{
  color: #15141a;
}

.img-fluid:hover
{
  transform: scale(1.1);
}

